racine {
    margin-top: 45px;
	margin-left: 10%;
	margin-right: 10%;
    background-color: darkslateblue;
    font-family:Arial,sans-serif; color:white;
    font-size:15pt;
}

documentation {
    display: block;
    margin-top: 5%;
    background: palevioletred
}

tdf {
    display: block;
    margin-top: 5%;
    font-size: 20pt;
    background: rgb(255, 177, 76)
}

coureurs {
    font-size: 15pt;
}

coureur {
    margin-left: 5%;
    margin-bottom: 2.5%;
    display: block;
}

equipes {
    font-size: 15pt;
}

equipe {
    margin-left: 5%;
    margin-bottom: 2.5%;
    display: block;
}

lien {
    display: block;
    color: blue
}